<%= form_for(@kind) do |f| %>
  <% if @kind.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@kind.errors.count, "error") %> prohibited this kind from being saved:</h2>

      <ul>
      <% @kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
  <div class="actions" style="margin-bottom: 20px;">
    <%= f.submit :class => 'form-control btn btn-success' %>
  </div>
<% end %>
